<h1>String Reversal</h1>
<p>This application will show the submitted string in reverse</p>
<form action="/display" method="post" accept-charset="utf-8">
  <input type="text" name="post[thestring]" value="" id="thestring" /><br />
  <input type="submit" value="Reverse it">
</form>